.header {
    padding-top: 10px;
    background: #E2E2EE;
    color:#C69E5D;
    text-align: right;
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky + .content {
    padding-top: 250px;
}

.header h1 {
    font-size: 7vw;
    margin-right: 20px;
   
}
.nav {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ul p";
    align-items: center;
    width: 100%;
    line-height: .5;
       
}

.header p {
    font-size: 2vw;
    text-align: right;
    grid-area:p;
    margin-right: 25px;
   
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E2E2EE;
    grid-area:ul;
    margin-left: 50px;
  }
  
li {
    float: left;
  }
  
li a {
    display: flex;
    justify-content: space-between;
    color: #C69E5D;
    padding: 20px;
    text-decoration: none;
    font-size: 2vw;
    text-align: center;
  }
  
li a:hover {
    background-color: #FFFFFF;
    color: #C69E5D;
}


/* old header*/


.navbar {
    background-color: #E2E2EE;
    color: #C69E5D;
    height: 18vh;
    font-family: "Manrope";
}


.navbar-toggler{
    color: #C69E5D;
}

.text-color{
    color: #C69E5D;
    font-family: "Manrope";
}

.text-muted {
    color: #C69E5D;
}

.bg-color {
    background-color: #E2E2EE;
}

.nav-item { 
    color: #C69E5D;
    font-family: "Manrope";

}

.nav-link:hover {
    color: #CE8D22;

}

.navbar-toggler-icon{
    color: #C69E5D;
}

.body {
    background-color:  #263D23;
    min-height: 110vh;
    font-family:"Manrope";
}
img { 
    max-width: 100%;
    height: auto;
    align-items: center;
    margin-right: 20px;
    grid-area: img;

}

.jumbotron {
    background-color: #D3B7CC;
    margin: auto;
    
}

.textRight {
    /* display: flex;
    justify-content: end;
    align-items: center; */
    grid-area: textRight;
    margin-left: 20px;
}

/* .container {
    display: block;
    margin: 0 auto;
} */

.background {
    background-color: #263D23;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "img textRight";
    height:auto;
}
.display-4 {
    font-size: 5vw;
}

.lead {
    font-size: 2vw;
}

.textBody {
    margin: 40px;
    border: solid 2px #E2E2EE;
    background-color: #263D23;
    color: #D3B7CC;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263D23;
}


.card-body {
    text-align: center;
}

.cardX {
    background-color: #D3B7CC;
    font-family:"Manrope";
    margin-bottom: 20px;


}

.btn {
    background-color: #C69E5D;
    border: #C69E5D;
}

.btn:hover {
    background-color: #CE8D22;
    border: #C69E5D;
}

.boxWidth {
    margin:auto;
    margin-top: 20px;
    width: fit-content;
    padding: 15px;
    border: solid 2px #E2E2EE;
    background-color: #263D23;
    color: #D3B7CC;
}



.body1 {
    background-color:  #263D23;
    min-height: 150vh;
    font-family:"Manrope";
}
.body2 {
    background-color:  #263D23;
    min-height: 100%;
    font-family:"Manrope";
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "user define proto ";
}

.user {
    grid-template-areas: user;

}
.define {
    grid-template-areas: define;

}
.proto {
    grid-template-areas: proto;


}

.card1 {
    margin: 20px;
    font-family: "Manrope";
    background-color: #D3B7CC;
}

.carousel {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
.carousel-item {
    height: 100%;
  }
.carousel-item > img {
    position: center;
    top: 0;
    left: 40%;
    min-width: 50%;
    height: 100%;
  }






@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .grid2 {
        display: initial;
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .boxWidth {
    margin-left:30px;
    margin-right: 30px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .grid2 {
        display: initial;
    }
}

@media (max-width: 768px) {
    .carousel-inner{
        position: center;
        padding: 10px;
        min-width: 100%;
    }
}
@media (max-width: 768px) {
    .carousel-item {
        position: center;
        top: 0;
        min-width: 50%;
        height: 100%;
      }
}
@media (max-width: 768px) {
    .carousel{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    }
}}